.quetipo-container{
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;    
    text-align: center;
}

.quetipo-text-container{
    width: 80%;
    padding-top: 2rem;
    padding-bottom: 1rem;
}





.quetipo-logo {
    max-width: 150px;
    height: auto;
}   