.header{
    display: flex;
    justify-content: space-between;
    
}
.logo{
    height: 6rem;
}
.header-menu{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    color: aliceblue;
}
.header-menu>li{
    cursor: pointer;
}
.header-menu>li:hover{
    color: var(--orange3);
}