.header{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding-left: 1rem;
    padding-right: 5rem;
    padding-bottom: .5rem;
    
}
.logo{
    height: 6rem;
}
.header-menu{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    color: aliceblue;
}

.header-menu-item{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.5rem;
    width: 8rem;
    height: 4.8rem;
    border-radius: 0px;
    font-size: 1.2 rem;
    text-align: center;
    color: rgb(240, 240, 240);
}
.header-menu-item:hover{
    color: black;
    background-color: rgb(226, 226, 226);
}
.header-menu-item {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color from parent */
}

.header-menu-item-text{
    text-decoration: none; /* Remove underline */
    color: rgb(252, 252, 252); /* Inherit text color from parent */
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    font-family: roboto;
    letter-spacing: 1px;
    text-decoration: none; /* Remove underline */
}