.mas-bunkgym-container {
    background-image: linear-gradient(to top, #808080 0%, #ffffff 10%);
    padding: 2rem 20%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


.mas-bunkgym-container p {
    color: #666;
    /* Lighter grey color for paragraphs */
    line-height: 1.6;
    margin-bottom: 16px;
    /* Space below paragraphs */
}

.mas-bunkgym-title {
    font-size: 4.6rem;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    margin-bottom: 12px;
    color: #000000;
}
.mas-bunkgym-subtitle {
    font-size: 1.5rem;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    margin-bottom: 12px;
    color: #000000;
    text-align: center;
}
.mas-bunkgym-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    font-size: 1.1rem;
    min-height: 22rem;
}
.mas-bunkgym-item{
    font-weight: bold;
    color: #333;    
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.mas-bunkgym-plus{
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
}