.elige-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
    padding: 4rem 0;
    background-color: black;
    color: aliceblue;
}
.elige-title {
    font-size: 5.2rem;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
    font-style: oblique 14deg;
    
}
.elige-text {
    padding: 0 10%;
    font-size: 1.6rem;
    color: #cbcbcb;
    letter-spacing: 1px;
    font-style: oblique 14deg;
}
.elige-subtitle {
    font-size: 2rem;
    font-style: normal;
    font-weight: bolder;
    font-family: 'Anton', sans-serif;
    font-style: oblique 12deg;
    letter-spacing: 5px;
}