.cuadrantes-container {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;

}
.texto-cuadrantes-negrita{
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: .8rem;
    padding-left: 2rem;
    font-family: Anton;  
}
.cuadrante-upper,
.cuadrante-lower {
    display: flex;
}

.upper-left,
.lower-left {
    flex: 1;
}

.upper-right,
.lower-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lower-right {
    padding-right: 5rem;
}

.upper-left {
    padding-left: 2rem;
    
}

.upper-left img,
.lower-right img {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-color: #ffffff;
}

.upper-right p,
.lower-left ul {
    margin-bottom: 1rem;
    line-height: 1.6;
}
.lower-left {
    padding-left: 2rem;
    max-width: 35%;
}
.lower-left ul {
    list-style-type: none;
    padding-left: 5.5rem;
}

.lower-left ul li {
    margin-bottom: 0.5rem;
    position: relative;
    padding-left: 1rem;
}


.stronger-cuadrantes {
    font-weight: bold;
}

.texto-cuadrantes {

    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1;
    letter-spacing: 0.2px;
    font-size: 1.3rem;
    color: rgb(18, 18, 18);
    text-align: left;
    font-style: italic;
    margin-right: 2rem;
}

.texto-cuadrantes-elementos{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1;
    letter-spacing: 0.2px;
    font-size: 1.3rem;
    font-style: italic;
    padding-bottom: .8rem;
    padding-left: 2rem;
}

@media (max-width: 1168px) {
    .texto-cuadrantes-negrita{
        text-align: center;
    }
    .texto-cuadrantes{
        margin: 1rem 3rem;
        text-align: center;
    }
    .texto-cuadrantes-elementos{
        text-align: center;}

    .cuadrante-upper,
    .cuadrante-lower {
        flex-direction: column;
    }
    .lower-left ul {
        padding-left: 0rem;
    }
    .stronger-cuadrantes {
        padding-bottom: 1.5rem;
    }
    .upper-right {
        order: 1; /* Ensure upper-right stays above lower-right */
    }

    .lower-left {
        order: 2; /* Ensure lower-right stays below upper-right */
        padding-right: 0; /* Remove right padding in mobile view */

        max-width: 100%; /* Set max-width to 100% to prevent overflow in mobile view */
     
            padding-left: 0rem;}
         
    .lower-right {
        padding-right: 0rem;
    }
    
}
@media (max-width: 768px) {
    .texto-cuadrantes{
        margin:3rem;
        text-align: center;
    }
    .texto-cuadrantes-elementos{
        text-align: center;}

    .cuadrante-upper,
    .cuadrante-lower {
        flex-direction: column;
    }
}