.bunkgym-razones-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
}

.carrusel {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    padding: 3rem;
    
}

.razones-columns {
    display: flex;
    justify-content: space-between;
    width: 900px;
    /* Ajusta según necesites */
}

.bunkgym-razones-title  {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    color: #ffffff;
    width: 80%;
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
    font-style: oblique 14deg;
    padding-bottom: 2rem;
    padding-top: 3rem;

}
.razones{
    font-size: 4rem;
    color: #d3d3d3;
    width: 40%;
}