.bunkgym-razones-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to top, #141414 10%, #373737 100%);
    color: #ffffff;
    gap: 0rem;
}

.bunkgym-razones-title {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    width: 80%;
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
    font-style: oblique 14deg;
    padding-bottom: 0rem;
    padding-top: 3rem;
    line-height: 1.2;
}

.doce-razones-columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Create 4 equal-width columns */
    gap: 10px; /* Space between the grid items */
    width: 70%;
    padding: 0 5%; 
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.doce-razones-column {
    /* No need for flex-basis or other flex properties since it's now a grid item */
    margin-bottom: 20px; /* Space between items vertically */
}
.doce-razones-item {
    padding: 25px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    /* Space between items */

}

.doce-razones-item-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.doce-razones-item-content {
    font-size: .9rem;
    line-height: 1.5;
    color: #dedede;
    width: 100%;
    height: 1.2rem;

}

.placeholder {
    color: #ccc;
    font-size: 2rem;
    height: 1.2rem;
    text-align: start;
}

.icon-small {
    width: 35px;
    vertical-align: middle;
    margin-right: 10px;
}

.bunkgym-razones-footer {
    width: 100%;
    padding: 3rem 0;
    background-color: #ffffff;
    font-family: anton;
    font-style: oblique 14deg;
    letter-spacing: 3px;
    color: #1a1a1a;
    text-align: center;
    font-size: 2.2rem;
    text-transform: uppercase;
}