.idea-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    overflow: hidden;
}

.idea-text {
    width: 50%;
    padding: 3rem;
}


.infographic img {
    width: 70%;
    animation: pulsate 2.5s infinite;
}
@keyframes pulsate {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.idea-title {
    font-size: 5rem;
    margin-bottom: 1rem;
    line-height: 1.2;
    font-weight: bold;
    color: #000000;
    font-family: 'anton', serif;
    letter-spacing: 4px;
    font-style: italic;
}

.idea-subtitle {
    font-size: 1.5rem;
    line-height: 1.3;
    margin-bottom: 1rem;
    color: #696969;
    font-style: italic;
    z-index: 4;
}


.idea-adorno1 {
    width: 14rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    overflow: hidden;
}

.idea-adorno3 {
    width: 20rem;
    position: absolute;
    bottom: -5rem;
    overflow: hidden;
    z-index: -5;
}

.idea-adorno2 {  
    width: 6rem;
    position: absolute;
    bottom: 2ch;
    left: -4rem;
}