
.Otros-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.Otros-title-container {
    margin-top: 2rem;
}

.Otros-text-container{
    width: 80%;
}

.Otros-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 90%;
    margin-bottom: 2rem;
}
.Otros-img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    object-fit: cover;
}

.Otros-img {
    /* Ensure the image maintains its width */
    width: 100%; /* or any specific width you need */
    display: block; /* Ensure the image is treated as a block-level element */
    margin-top: 1rem;
}

/* New style for link to ensure image styling is maintained */
.Otros-link {
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
}
.Otros-img-wrapper{
    width: 31%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.Otros-img-title{
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
    font-family: Anton;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: oblique 14deg;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 1rem 0rem;

}
.Otros-img-text{
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}
.Otros-img:hover{
    transform: scale(1.1);
}


@media screen and (max-width: 1150px) {
    .Otros-img-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .Otros-img-wrapper{
        width: 68%;
    }
}

@media screen and (max-width: 768px) {
    .Otros-img-wrapper{
        width: 78%;
        
    }
}

@media screen and (max-width: 480px) {
    
}