.bunkgreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 1rem;
}
.bunkgreen-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    min-height: 200px;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.bunkgreen-subtitle {
    font-size: 2rem;
    font-style: italic;
    color: rgb(56, 56, 56);
        
}
.bunkgreen-content {
    font-size: 1.5rem;
    font-style: italic;
    color: rgb(48, 48, 48);
    line-height: 1.2;
}
.bunkgreen-title {
    font-size: 5.2rem;
    font-style: italic;
    font-family: 'Anton', sans-serif;
    font-style: oblique 14deg;
    letter-spacing: 7px;
    font-weight: 700;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #add900;
    color: rgba(204, 204, 204, 0);

}
.bunkgreen-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 100%;
}
.bunkgreen-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    width: 25%;
}
.bunkgreen-img  {
    width: 200px;
}
.bunkgreen-text {
    font-size: 1.5rem;
    font-style: italic;
    color: rgb(46, 46, 46);  
    line-height: 1.2;
    text-align: center;
    padding: 1rem;
    
}
.green-accent{
    color: #add900;
    font-weight: bold;
}

.titulo-general {
    font-size: 5rem;
    font-style: italic;
    font-family: 'Anton', sans-serif;
    font-style: oblique 14deg;
    letter-spacing: 7px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000000;
    color: rgba(204, 204, 204, 0);
}
.titulo-general-blanco {
    font-size: 5rem;
    font-style: italic;
    font-family: 'Anton', sans-serif;
    font-style: oblique 14deg;
    letter-spacing: 7px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffffff;
    color: rgba(204, 204, 204, 0);
}


.parrafo {
    font-size: 1.5rem;
    font-style: italic;
    color: rgb(61, 61, 61);
    line-height: 1.2;
    text-align: center;
    padding: .5rem;
    margin : .5rem;
}
.parrafo2 {
    font-size: 1.5rem;
    font-style: italic;
    color: rgb(136, 136, 136);
    line-height: 1.2;
    text-align: center;
    padding: .3rem;
    margin : .3rem;
}
.subtitulo {
    font-size: 2rem;
    font-style: italic;
    color: rgb(56, 56, 56);
    text-align: center;
    line-height: 1.2;
    padding: 1rem;
    margin : 1rem;
    letter-spacing: 1px;
}
.subtitulo2 {
    font-size: 2rem;
    font-style: italic;
    color: rgb(196, 196, 196);
    text-align: center;
    line-height: 1.2;
    padding: 1rem;
    margin : 1rem;
    letter-spacing: 1px;
}