
.image-section-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3rem;
  align-items: center;
  background: radial-gradient(circle, rgba(116, 116, 116, 1) 0%, rgba(31, 31, 31, 1) 35%, rgba(105, 105, 105, 1) 69%, rgba(38, 38, 38, 1) 100%);

}

.image-section {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping to the next line */
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
  align-items: center;
  overflow-x: auto; /* Enables horizontal scrolling if the images overflow the container */
}

.image-container {
  position: relative;
  width: 100%; /* Adjust percentage as needed */
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}


.image-section-title {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 600;
  font-family: 'anton', serif;
  font-style: oblique 14deg;
  letter-spacing: 3px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #dbdbdb;
  color: rgba(0, 0, 0, 0);
  padding: 1rem;
  margin: 1rem 0 0 0;
  text-transform: uppercase;
}

.image-section-text {
  font-size: 1.5rem;
  font-style: italic;
  color: rgb(220, 220, 220);
  margin: 8px 15%;
  line-height: 1.2;
}


.image-container:hover img {
  transform: scale(1.1);
  /* Simple zoom effect on hover */
}

.back-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  /* Semi-transparent background */
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s;
  /* Add a transition effect */
  padding: .4rem;
  font-size: 1.5rem;
  font-family: 'anton', serif;
  font-style: oblique 14deg;
  letter-spacing: 3px;
}

.image-container .back-text {
  visibility: visible;
  opacity: 1;
}