.personaliza-container {
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    overflow: hidden;
    margin-top: 2rem;
}

.personaliza-title {
    font-size: 5.3rem;
    padding-top: 2rem;
    
}

.personaliza-text {
    font-size: 1.5rem;
    font-style: italic;
    color: rgb(88, 88, 88);
    line-height: 1.4;
    width: 80%;
}

.personaliza-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
    background-color: black;
}

.personaliza-list {
    padding: 0 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas por defecto */
    gap: 10px; /* Ajusta el espacio entre los elementos si es necesario */
    list-style-type: none; /* Quita los puntos de la lista */
}


.personaliza-list-li {
    list-style: none;
    /* Remueve los estilos por defecto de lista */
    margin: 0 1rem 10px 0;
    /* Margen superior e inferior para separar los elementos */

    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    font-style: oblique 14deg;
    font-size: 1.6rem;
    color: #ccc;
    border-radius: 5px;
    /* Bordes redondeados */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding: 0 1rem;
    height: 60px;
    /* Ajusta la altura según sea necesario */
}

.imgabajo {
    width: 30px;
    /* Ajusta el tamaño de la imagen según sea necesario */
    height: 30px;
}


/* Media query para pantallas pequeñas */
@media (max-width: 1000px) {
    .personaliza-list {
        grid-template-columns: repeat(2, 1fr); /* Cambia a dos columnas en pantallas pequeñas */
    }
    .personaliza-list-li{
        font-size: 1.3rem;
       
        padding-top: .5rem;
    }
}