.nuestro-equipo{
    background-color: rgb(185, 185, 185);
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.nuestro-equipo-container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1rem;
    gap: 2rem;
}
.nuestro-equipo-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 13%;
    height: 300px;
}
.nuestro-equipo-lista{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding: 2rem 0;
}

.nuestro-equipo-imagen{
    width: 170px;
    height: 170px;
    border-radius: 5%;
    object-fit: cover;
    margin-bottom: 30px;
    background-color: rgb(87, 231, 236);
    position: relative;
}

.nuestro-equipo-imagen {
    width: 170px;
    height: 180px;
    border-radius: 5%;
    object-fit: cover;
    margin-bottom: 30px;
    background-color: rgb(87, 231, 236);
    position: relative;
    overflow: hidden; /* Asegúrate de que el pseudo-elemento no se salga del contorno del borde redondeado */
}

.nuestro-equipo-card .imagen-container {
    position: relative;
    width: 170px;
    height: 180px;
}

.nuestro-equipo-imagen-fondo, .nuestro-equipo-imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    object-fit: cover;
}

.nuestro-equipo-imagen-fondo {
    filter: blur(1px); /* Opcional: efecto de desenfoque para la imagen de fondo */
    transform: translate(10px, 10px); /* Desplaza la imagen de fondo */
    z-index: 5; /* Asegura que la imagen de fondo esté detrás */
}


.nuestro-equipo-nombre{
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}




.nuestro-equipo-titulo{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.nuestro-equipo-text    {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    color: #2e2e2e;
}

.nuestro-equipo-subtitulo{
    width: 75%;

}