.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 1rem;
    position: relative;
    
    overflow: hidden;
}
.carrusel-container {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 50%;
    height: 60vh; /* Ajusta la altura según tus necesidades */x;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);    
}
.carrusel-frame {
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -15px; /* Adjust as necessary */
    left: -15px; /* Adjust as necessary */
    background: linear-gradient(to bottom, #c5c5c5, #000000);
    z-index: -1;
    pointer-events: none; /* Makes the frame click-through */
}
.carrusel-frame2 {
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 15px; /* Adjust as necessary */
    left: 15px; /* Adjust as necessary */
    border: #000000 1px solid;
    background: linear-gradient(to bottom, #ffffff, #bcbcbc);
    z-index: -2;
    pointer-events: none; /* Makes the frame click-through */
}
.carrusel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carrousel-adorno1 {
    position: absolute;
    width: 500px;
    left: 76%;
    top: 60%;
}
.carrousel-adorno2 {
    position: absolute;
    width: 300px;
    left: 5%;
}
.carrusel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    color: #000000;
    cursor: pointer;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    border-radius: 50%;
}
.carrusel-arrow:hover {
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}
.arrow-left {
    left: 2rem;
}
.arrow-right {
    right: 2rem;
}
.carrusel-indicators{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    overflow: hidden;
    background-color: #0000004d;
    padding: .5rem;
    border-radius: 5px;

}
.carrusel-dot{
    width: 35px; /* Adjust as necessary */
    height: 9px; /* Adjust as necessary */
    border-radius: 2px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    background-color: rgb(71, 71, 71);
    margin: 0 0.4rem;
    cursor: pointer;
}
.carrusel-dot:hover{
    background-color: rgb(143, 143, 143);
    cursor: pointer;
}
.active{
    background-color: rgb(238, 238, 238);
}
/* New styles for animation */
.carrusel-container.animate-enter {
    animation: slideIn 0.5s forwards;
}

.carrusel-container.animate-exit {
    animation: slideOut 0.5s forwards;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}